<style>
.container {
    
    width: 70%;
    height: 370px;
}

.form-container {
    background-color: #3b3b3b !important;
    padding: 30px;
}

.form-label {
    color: #fff !important;
}

.errors {
    background-color: red !important;
    transparency: 10 !important
}

#description {
    height: 180px;
}



input[type="checkbox"] {
    margin-right: 10px;
    width: 13px;
    height: 13px;
}

.check-boxes > label {
    margin-right: 25px !important;
    color: white !important;
    font-size: 17px;
}
</style>


<div class="container">  
    <%= render 'common/errors', obj: @article %>
    <div class = "form-container">
        <%= form_with model: @article, data: { turbo: false } do |f| %>
        
            <div class="form-group row m-3">
                <%= f.label :title, "Title:", class: "form-label col-2" %><br/>
                <div class= "col-10">
                    <%= f.text_field :title, class: "form-control" %>
                </div>
            </div>

            <div class="form-group row m-3">
                <%= f.label :description, "Description:", class: "form-label col-2" %><br/>
                <div class="col-10">
                    <%= f.text_area :description, class: "form-control", id: "description" %>
                </div>
            </div>

            <div class="form-group row m-3">
                <%= f.label :category, "Category:", class: "form-label col-2" %><br/>
                <div class="col-10">
                    <div class="check-boxes">
                        <%= f.collection_check_boxes :category_ids, Category.order(:name), :id, :name, { multiple: true } %>
                    </div>
                </div>
            </div>

            <%= f.submit class: "btn btn-success m-2 btn-lg" %>
            <%= link_to 'Return to article list', articles_path, class: "btn btn-secondary m-2 btn-lg" %>
        <% end %>
    </div>
</div>
