<h1>List of all articles</h1>
<style>
         th, td {
            border: 1px solid black;
            height: 30px;
         }
         table {
             border: 1px solid black;
             width: 40%;
             text-align: center;
         }
      </style>
<% flash.each do |name, msg| %>
    <p><%= msg %></p>
<% end %>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.description %></td>
            <td> <%= button_to 'DELETE', article_path(article), method: :delete, data: {turbo_confirm: 'Are you sure?'} %></td> 
            <td> <%= button_to 'EDIT', edit_article_path(article), method: :get %></td> 
            <td> <%= button_to 'SHOW', article_path(article), method: :get %></td> 
        </tr>
        <% end %>
    </tbody>
</table>

<p><%= button_to 'CREATE ARTICLE', new_article_path, method: :get %></p>