<style>
.container {
    padding: 30px;
    width: 80%;
}
p {
    text-align: justify;
    padding: 0px 40px;
}
.name {
  text-decoration: none;
}
.card-header, .card-footer {
    background-color: #3b3b3b;
    color: white;
}
</style>

<%= render 'common/flash' %>
<div class="container">
    
    <div class="card text-center m-4 shadow mb-5 bg-body rounded">
        <div class="card-header">
            <h3 class = "text-center m-4"><%= @article.title%></h3>
            <%= link_to gravatar_file(@article.user), user_path(@article.user)%>
            <br/>
            <h4 class="name">by <%= link_to @article.user.username, user_path(@article.user), class: "text-decoration-none" %></h4>
        </div>
        <div class="card-body">
            <p class="text-justify"><%= simple_format(@article.description) %></p>
        </div>
        <div class="card-footer text-muted">
            <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
                <%= link_to "Edit", edit_article_path(@article), class: "btn btn-warning m-2" %>
                <%= link_to "Delete", article_path(@article), class: "btn btn-danger m-2", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> 
            <% end %>
            <%= link_to "Articles List", articles_path, class: "btn btn-primary m-2"%>
            <br/>
            <small style = "color: white;">Created <%= time_ago_in_words(@article.created_at) %> ago, 
        edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
        </div>
    </div>   

</div>