<style>
.container {
    
    width: 50%;
    height: 370px;
}

.form-container {
    background-color: #3b3b3b !important;
    padding: 30px;
}

.form-label {
    color: #fff !important;
}

.errors {
    background-color: red !important;
    transparency: 10 !important
}

</style>


<div class="container">  
    <%= render 'common/errors', obj: @user %>
    <div class = "form-container">
        <%= form_with model: @user, data: { turbo: false } do |f| %>
            <div class="form-group row m-3">
                <%= f.label :username, "Username:", class: "form-label col-2" %><br/>
                <div class= "col-10">
                    <%= f.text_field :username, class: "form-control" %>
                </div>
            </div>
            <div class="form-group row m-3">
                <%= f.label :email, "Email:", class: "form-label col-2" %><br/>
                <div class="col-10">
                    <%= f.email_field :email, class: "form-control", id: "email" %>
                </div>
            </div>
            <div class="form-group row m-3">
                <%= f.label :password, "Password:", class: "form-label col-2" %><br/>
                <div class="col-10">
                    <%= f.password_field :password, class: "form-control", id: "password" %>
                </div>
            </div>
            <%= f.submit(@user.new_record? ? "Sign-Up" : "Update Account", class: "btn btn-success m-2")%>
            <%= link_to 'Return to article list', articles_path, class: "btn btn-secondary m-2" %>
        <% end %>
    </div>
</div>
