<%= render 'common/flash' %>

<h1 class = "text-center m-4"><%= @user.username %>'s profile</h1>

<%= gravatar_file @user %>

<div class="text-center m-4">
    <% if logged_in? && @user == current_user %>
        <%= link_to "Edit profile", edit_user_path, class: "btn btn-warning" %>
        <br/>
        <br/>
        <%= link_to 'Create Article', new_article_path, class: "btn btn-dark btn-lg create", method: :get %>
    <% end %>
</div>
<h3 class = "text-center m-4">Articles</h3>

<%= render 'common/pagination', obj: @articles%>
<%= render 'articles/article' %>
<%= render 'common/pagination', obj: @articles%>
<br/>
<br/>