<style>
    .container {
        width: 120%;
        text-align: center;
    }

    .row {
        width: 100%;
    }

    .card {
        transition: transform .3s;
    }
    .card:hover {
        transform: scale(1.1);
    }

    .card-body {
        background-color: #3b3b3b !important;
    }

    .text-uppercase {
        color: yellow !important;
    }
    
</style>

<%= render 'common/flash' %>

<h1 class="text-center mt-4">Categories</h1>
<br/>
<div class="container">
    <%# <%= render 'common/pagination', obj: @categories %> 
    <br/>
    <div class = "row">
        <% @categories.each do |category| %>
            <div class="col-3">
                <div class="card text-center shadow bg-white rounded mb-5">
                    <div class="card-body">
                        <h3><%= link_to category.name, category_path(category), class: "text-uppercase" %></h3>
                        <p style="color: white;"><%= category.articles.count %> articles</p>
                    </div>
                    <div class="card-footer text-muted">
                        <small>Updated <%= time_ago_in_words(category.updated_at) %> ago</small>
                    </div>
                </div>
               
            </div>
        <% end %>
    </div>
    <br/>
    <%# <%= render 'common/pagination', obj: @categories %>
</div>
